<header>
<!-- ////////////////////// LOGIN ////////////////////// -->
    {{#if session.signedIn}}
    <div id="login">
      Hi {{session.name}}
    </div>

    {{else}}

      <div id='login'>
        <button {{action 'signIn'}}>Connect with Facebook</button>
      </div>

    {{/if}}
<!-- ////////////////////// LOGIN ////////////////////// -->

<!-- ////////////////////// SIGN IN MODAL ////////////////////// -->        
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <div class="modal-content">
    <div class="modal-body">
     Please connect with Facebook or Twitter in order to send a note. 
     <br> <br>
     We just want to make sure you're a real person. We will not share your information or your mashnote with anyone.
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-primary" id="btnfb">Facebook</button>
    <button type="button" class="btn btn-primary" id="btntw">Twitter</button>
    </div>
  </div>
  </div>
</div>
<!-- ////////////////////// SIGN IN MODAL ////////////////////// -->

<div id="logo">
      <h1>{{link-to 'mashnote' 'index' id='brand'}}</h1>
</div>
    <div id="tagline">
      <h3>A way to
        anonymously send positive feedback. {{link-to 'MORE' 'about'}}
      </h3>
    </div>
</header>
